@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@200;400;500;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/athelas');

  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root{
    --main-color:#845EC2;
    --darkmain:#b39cd0;
    --secondery-color:#4fc4cf;
    --tertiary-color:#ff8066;  
    --accent-color:#00c9a7;
    --storke: #181818;
    --main-background: #f2eef5;
    --background-color:#f6efef;
    --headline-color:#2e2e2e;
    --subheadline-color:#4b4453;
    --card-background: #f0e2e1;
    --text-color:#72757e;

}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Libre Baskerville", "Baskerville", "Athelas", sans-serif;

    }

    
.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Added z-index */
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #D5D7C0;
    z-index: 1000; /* Added z-index */
}

nav a {
    text-decoration: none;
    padding: 0px 20px;

}

.nav-links{
    display: flex;
    list-style-type: none;
    font-size: 0.8rem;
}

#logo{
    font-family: 'Abril Fatface', cursive;
    margin-right: auto;
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 3px;
    align-items: center;
    background: linear-gradient(to bottom right, #845EC2, #b39cd0, #ff8066,#00c9a7);
    -webkit-background-clip: text; 
    -webkit-background-fill-color:transparent;
    background-clip: text; 
    color: transparent;
    
    background-size: 200%;
    background-position: -100%;  
    
    animation: animatedText 3s infinite alternate-reverse;
  }
  
  @keyframes animatedText{
    to{
      background-position: 100%; 
    }
  }

.social a{
    color: var(--headline-color);
    font-size: 22px;
}

.social a:hover{
    color: #845EC2;
}

.social-icon.in a:hover{
    color: #d82d7e;
}
.social-icon.fb a:hover{
    color: #395185;
}
.social-icon.sc a:hover{
    color: #f04923;
}
.social-icon.sp a:hover{
    color: #1ed760;
}
.social-icon.bc a:hover{
    color: #1f80aa;
}
.social-icon.yt a:hover{
    color: #ff0000;
}
.social-icon{
    margin-left: 1rem;
}
.copyright {
    color: darken(#ccc, 20%);
    font-size: 0.7rem;
}

#scroll-indicator {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 2em;
    z-index: 1000;
}

.fas.fa-arrow-right {
    color: #4B4453;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(30px);
    }
    60% {
        transform: translateX(15px);
    }
}

.scroll-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 0.5rem;
    transform: rotate(180deg);
}

.scroll-arrow.left {
    transform: rotate(0deg);
}

#canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure the canvas is behind other content */
}



.soap_wrap {
	position: relative;
	height: 160px; /*お好みで*/
    
}

#follow  {
	position: absolute;
	left: calc(50% - 100px); /*お好みで*/
	top: calc(50% - 100px); /*お好みで*/
	width: 100px; /*お好みで*/
	height: 100px; /*お好みで*/
	border-radius: 50% 46% 48% 44%;
	overflow: hidden;
	background: radial-gradient(at 46% 54%, transparent 50%, rgba(112, 60, 242, 0.3) 70%, transparent 100%) 50% 50% no-repeat;
	animation: soap_rotate 10s linear infinite;
	z-index: 9999;
}
#follow ::before{
	content: "";
	position: absolute;
	right: -10%;
	bottom: -10%;
	width: 60%;
	height: 60%;
	border-radius: 60% 0;
	background: radial-gradient(at 0 0, rgba(0, 130, 255, 0.3) 40%, rgba(255, 154, 204, 0.7) 50%);
	transform-origin: 0 0;
	animation: soap_rotate 15s linear infinite;
	filter: blur(15px);
    z-index: 9999;
}
#follow ::after{
	content: "";
	position: absolute;
	left: -10%;
	top: -10%;
	width: 60%;
	height: 60%;
	border-radius: 20% 0;
	background: radial-gradient(at 100% 100%, rgba(255, 255, 100, 0.5) 40%, rgba(120, 255, 140, 0.7) 60%);
	transform-origin: 100% 100%;
	animation: soap_rotate 6s 0s ease-in-out infinite;
	filter: blur(15px);
    z-index: 9999;
}

@keyframes soap_rotate{
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}
}