@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@200;400;500;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/athelas');

:root{
    --main-color:#845EC2;
    --darkmain:#b39cd0;
    --secondery-color:#4fc4cf;
    --tertiary-color:#ff8066;  
    --accent-color:#00c9a7;
    --storke: #181818;
    --main-background: #f2eef5;

    --background-color:#f6efef;
    --headline-color:#2e2e2e;
    --subheadline-color:#4b4453;
    --card-background: #f0e2e1;
    --text-color:#72757e;
}

*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #2e2e2e;
  }
  
  section {
    height: 100vh;
    flex-direction: column;
    justify-content: start; 
    padding: 0px 20px;
  }

  .title {
    text-align: left;
  }
  
  /*
    section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #home{
   
        background-image: url('../images/demo_analogTV.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100vh;
        background-attachment: fixed;
            background: linear-gradient(to bottom, #845EC2, #b39cd0, #ff8066,#00c9a7);

    }
    
*/
      
  #home{
   
    background-image: url('../images/demo_analogTV2.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    
    background-size: cover;

 
    
}
  #music {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

  }
  
  #music-content {
    display: flex;
  

    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
  }
  .title--music{
    padding: 1rem;
    color: var(--card-background);
    font-size: 2rem;
  }
  .music-card {
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    color: white;
    width: 30vw;
    border: 1px solid white;
    background-color: #E55139;
    padding: 0.5rem;
  }
  
  .music-card img {
    margin-left: auto;
    margin-right: auto;

  }
  /*  */
  .music-card:nth-child(7) {
    margin-right: 10rem;
  }


  .cd_group {
    display: flex;

    align-items: end;
    padding: 1rem;


  }
  img.cd_label {
    width: 200px;
    border-radius: 10px;
}
img.cd_label_3{
    width: 350px;
    
}

img.cd_label_4{
    width: 350px;
    height: 350px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

img.cd_label_5{
    width: 350px;
    height: 200px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.cd_title{
    font-size: 1rem;
    padding-left: 1rem;
}

 /* press */
 #press {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-color: #00c9a7; /*#5d76cb;*/
    background-image: url(../images/bg-press.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
    
    background-size: cover;
  }


  .press--list{
    list-style: none;
    margin-bottom: 10px;
    border-bottom: whitesmoke solid 1px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .picture-frame {
    float: right;
    width: 40%;
    transform: rotate(5deg);
    z-index: -1;
  }

  .press-insert-img {
    float: left;
    transform: rotate(-5deg);
    z-index: -1;
  }
  
  /* performance */
  #performance {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #AFCCDE;
    background-image: url(../images/performance.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
    
    background-size: cover;
  }
   /* NEWS  */
#news{
 background-color: #FFF8B9;
 margin:0;
}
    /* */

     /*ABout Me*/
     #about{
      background-color: var(--darkmain);
     }
     .flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  
  .container{
      font-family: "Libre Baskerville", "Baskerville", "Athelas", sans-serif;
   
  }
  
  img{
      width: 360px;
  }
  
  .about-title{
      padding: 1rem 0rem 0rem;
      margin: 0;
  
  }
  #about-text{
    padding: 10px 4rem;
    max-width: 600px;
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

q.quote{
  text-align: center;
  display: block;
  font-size: 0.75rem;
  font-style: italic;
}


  /****************************************************************
  /* */
#stay-in-touch{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.social a{
    color: var(--subheadline-color);
    font-size: 18px;
}

.social a:hover{
    color: var(--main-color);
}

.social-icon.in a:hover{
    color: #d82d7e;
}
.social-icon.fb a:hover{
    color: #395185;
}
.social-icon.sc a:hover{
    color: #f04923;
}
.social-icon.sp a:hover{
    color: #1ed760;
}
.social-icon.bc a:hover{
    color: #1f80aa;
}
.social-icon.yt a:hover{
    color: #ff0000;
}

.copyright {
    color: darken(#ccc, 20%);
    font-size: 0.7rem;
    margin-bottom: .5rem;
}

#footer--text{
    font-size: .9rem;
}

/* Make the footer fixed at the bottom of the page */
#footer-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0e2e1;
    color: gray;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  #footer-section .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

      #footer-section a, #footer-section .social-icon {
        font-size: 1rem;
        margin: 0 0.1rem;
      }
      
 /* Nav Bar*******************************
/* Style the navigation bar */
#footer-section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
  }
  
  /* Style the navigation links */
  #footer-section .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
  
  #footer-section .nav-links li {
    margin: 0 0.5rem;
  }
  
  /* Style the navigation links when in smaller screens */
  @media screen and (max-width: 1024px) {
    #footer-section .nav-links {
      flex-direction: column;
      align-items: start;
    }
  }
  
  /* Style the a tags */
  #footer-section .nav-links a {
    color: gray;
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  /* Style the a tags on hover */
  #footer-section .nav-links a:hover {
    color: #eee;
  }

  /* Hide the hamburger menu by default */
#footer-section .hamburger {
    display: none;
  }
  
  /* Show the hamburger menu in tablet and mobile view */
  @media screen and (max-width: 768px) {
    #footer-section .hamburger {
      display: block;
      cursor: pointer;
    }
  
    #footer-section .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
  
    /* Show the navigation links when the hamburger menu is clicked */
    #footer-section .nav-links.show {
      transform: translateX(0%);
    }
  }
  